<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <marquee><h1 style="color:aqua">Data Rendering</h1></marquee>
        <marquee direction="right"><h1 style="color:rgb(242, 102, 242)">{{name}}</h1></marquee>
        <marquee direction="top"><h1 style="color:rgb(221, 99, 12)">{{age}}</h1></marquee>
        <
    </center>
    
</body>
</html>